// ------------------------------
// Good CSS
// ------------------------------

fonts = helvetica, arial, sans-serif

body {
  font-family: fonts;
}

// ------------------------------
// Bad CSS
// ------------------------------

div {
  color: #invalid;
}

/* */
.empty {
}

span, span {
  color: blue;
}
